Source: bunsen-common
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/BunsenLabs/bunsen-common
Vcs-Git: https://github.com/BunsenLabs/bunsen-common.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-common.git

Package: bunsen-common
Architecture: all
Depends: ${misc:Depends}
Replaces: bunsen-images (<< 8.3.1-1)
Breaks: bunsen-images (<< 8.3.1-1), bunsen-pipemenus (<< 8.9-1), bunsen-welcome (<< 8.10-1)
Description: Various shared files for BunsenLabs
 Files holding shared script functions, images
 and other data which might be used by various packages
 in BunsenLabs.
